﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    var selection =
        Model.Content.Site().Children
        .Where(x => x.DocumentTypeAlias == "projectsOverview")
        .First()
        .Children
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate)
        .ToArray();
}

@if (selection.Length > 0)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            @foreach (var item in selection)
            {
                var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
                var loginAccess = isProtected && umbraco.library.HasAccess(item.Id, item.Path);
            
                if(!isProtected|| loginAccess) {
                <a class="dropdown-item" href="@item.Url">@item.Name</a>
                }
            }
        </div>
    </li>
}