﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var selection =
        Model.Content.Site().Children
        .Where(x => x.DocumentTypeAlias == "projectsOverview")
        .First()
        .Children
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate)
        .ToArray();
}

@if (selection.Length > 0)
{

            foreach (var item in selection)
            {
                var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
                var loginAccess = isProtected && umbraco.library.HasAccess(item.Id, item.Path);
            
                if(!isProtected|| loginAccess) {
                    <li>
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            }

}