﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@{ 
int numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);
var selection = 
    Model.Content.Children
    .Where(x => x.DocumentTypeAlias == "projectsOverview")
    .First()
    .Children
    .Where(x => x.HasValue("projectStatus") && Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("projectStatus")) == "Completed")
    .OrderByDescending(x => x.CreateDate)
    .Take(numOfProjects)
    .ToArray(); 
}

@if (selection.Length > 0)
{
    <ul>
        @foreach (var item in selection)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
}