﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
    //Opretter reference til roden af websitet
    var root = Model.Content.Site();
    //henter alle underelementer fra roden der er synlige ie. ikke har slået umbracoNaviHide til 
    var selection = root.Children.Where(x => x.IsVisible()).ToArray();
}

@* laver et check om der er nogle synlige elementer *@
@if (selection.Length > 0)
{
    @* tilføjer rod elementet til menuen og tilføj active klassen hvis rod elementet er nuværende side *@
    <li class="nav-item @(Model.Content.Level == 1 ? "active" : null)">
    @* laver et html link  med klassen nav-link et href med  url fra root elementer og navnet på root elementet *@
        <a class="nav-link" href="@root.Url">@root.Name</a>
    </li>
    
    @* looper alle fundne elementer igennem *@
    foreach (var item in selection)
    {
        @* henter protected info om item elementet  *@
        var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
        
        @* kigger om der er adgang til elementet *@
        var loginAccess = isProtected && umbraco.library.HasAccess(item.Id, item.Path);
    
        @* hvis elementet ikke er protected eller der er adgang til elementet køres indholdet af if sætningen *@
        if(!isProtected|| loginAccess) {
        @* opretter li element med klassen nav-item og klassen active hvis nuværende side er elementet selv eller har elementet som parent *@
        <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
            @*hvis elementets navn er login og man er logget ind på siden skrives Profil istedet for Login i menuen*@
            @if(item.Name == "Login" && Members.GetCurrentLoginStatus().IsLoggedIn)
            {
                <a class="nav-link" href="@item.Url">Profil</a>
            }
            @*hvis elementets navn er Projects køres dropdown menu macroen der udskriver project drop down menuen*@
            else if(item.Name == "Projects")
            {
                @Umbraco.RenderMacro("DropDownMenu");
            }
            @*ellers udskrives menu punktet normalt*@
            else
            {
                <a class="nav-link" href="@item.Url">@item.Name</a>
            }
        </li>
        }
    }
}