﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    Macro to display a series of images from a media folder.

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Ids passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaId     Name:Select folder with images    Type:Single Media Picker
*@

@{ var mediaId = Model.MacroParameters["mediaId"]; int id; }
@if (mediaId != null)
{
    @* Get the media item associated with the id passed in *@
    var media = Umbraco.TypedMedia(mediaId);
    if (media != null)
    {
    var selection = media.Children<Image>().ToArray();

    if (selection.Length > 0)
    {
        <div class="imagebox">
            @foreach (var item in selection)
            {
                <div>
                    <a href="@item.Url" data-lightbox="test">
                    <img src="@item.Url" alt="@item.Name" width="150" />
                    </a>
                </div>
            }
        </div>
    }
    }
}