﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GridPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<p>
@Html.GetGridHtml(@Model, "mitGrid", "Bootstrap3-Fluid")
</p>