﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<p>
@Model.MainContent
</p>

@Umbraco.RenderMacro("listNewestProjects", new { numOfProjects = "3" })