﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MemberList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json;
@using Umbraco.Web.Models;
@{
	Layout = "Master.cshtml";
	var memberService = ApplicationContext.Current.Services.MemberService;
    var members = memberService.GetMembersByGroup("Active");
    var membersGuest = memberService.GetMembersByGroup("Guest");
}

<div>
<table style="margin: auto">
    <tr valign="top">
        <td>
            <h2>Active Members</h2>
                @foreach(var member in members) 
                {
                    <p>@member.Name
                    <br>@member.GetValue("address")
                    <br>@member.GetValue("zip") @member.GetValue("city") 
                    <br>Email: @member.Email
                    <br>Skills: 
                        @if (member.GetValue("skills") != null)
                        {
                            string[] skills = member.GetValue("skills").ToString().Split(',');
                            
                            string skillString = 
                            string.Join(", ", from skill in skills 
                            select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
                            
                            <span>@skillString</span>
                        }
                        
                        <br/>Photo:
                        @if(member.GetValue("photo") != null) 
                        {
                            string image = member.GetValue<string>("photo");
                            if(image != null) 
                            {
                                ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                                <img style="border-radius: 50%" src="@imageCrop.Src.GetCropUrl(width: 100)"/>
                            }
                        }
                        
                        
                    </p>
                }
        </td>
        <td>
            <h2>Guest Members</h2>
                @foreach(var member in membersGuest) 
                {
                    <p>@member.Name
                    <br>Email: @member.Email
                    </p>
                }
        </td>
    </tr>
    </table>
</div>
</center>



