﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Umbraco.Field("projectTitle")</h1>

@{
var SelectionId = Model.GetPropertyValue<Int32>("projectStatus");
}

Status: @umbraco.library.GetPreValueAsString(SelectionId)

<p>@Umbraco.Field("projectDescription")</p>

@Umbraco.RenderMacro("ShowImages", new {mediaId=Umbraco.Field("image")})