@import url(https://fonts.googleapis.com/css?family=Open+Sans");

body
{
	font-family: 'Open Sans', sans-serif;
}

.imagebox {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
}

.imagebox div {
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}
@media (min-width: 992px) {
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
}

.gridcolumn2 {
	text-align: center;
}

.gridcolumn h1, .gridcolumn2 h1
{
	font-size: 22px;
	text-align: center;
}

a {
	color: black;	
}

a:hover {
	color: gray;	
}
