﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using Newtonsoft.Json;
@using Umbraco.Web.Models;

@{
    var loginModel = new LoginModel();


    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()
@if (!Members.GetCurrentLoginStatus().IsLoggedIn)
{
    using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
    {
        <fieldset>
            <legend>Login</legend>

            @Html.ValidationSummary("loginModel", true)

            @Html.LabelFor(m => loginModel.Username)
            @Html.TextBoxFor(m => loginModel.Username)
            @Html.ValidationMessageFor(m => loginModel.Username)
            <br />

            @Html.LabelFor(m => loginModel.Password)
            @Html.PasswordFor(m => loginModel.Password)
            @Html.ValidationMessageFor(m => loginModel.Password)
            <br />

            <button>Login</button>
        </fieldset>
    }
}
else
{
    var member = ApplicationContext.Current.Services.MemberService.GetByUsername(Membership.GetUser().UserName);

    <p>
        @member.Name
        @if(member.GetValue("address") != null)
        {
            <br />@member.GetValue("address");
        }
        @if(member.GetValue("zip") != null){<br>@member.GetValue("zip")} 
        @if(member.GetValue("city") != null){@member.GetValue("city")}
        <br>Email: @member.Email
        
        @if (member.GetValue("skills") != null)
        {
            <br>Skills:
            string[] skills = member.GetValue("skills").ToString().Split(',');

            string skillString =
            string.Join(", ", from skill in skills
                              select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));

            <span>@skillString</span>
        }

        
        @if (member.GetValue("photo") != null)
        {
            <br />Photo:
            string image = member.GetValue<string>("photo");
            if (image != null)
            {
                ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
                <img src="@imageCrop.Src.GetCropUrl(width: 100)" />
            }
        }

    </p>



    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";
    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
        <button>Logout</button>
        @Html.HiddenFor(m => logoutModel.RedirectUrl)
    }
}

